{% include 'films/header.html' %}
<body>
<center>
<p>Описание: {{films_id.description}}</p>
<br>
<strong>Цена сеанса: {{films_id.price}}</strong>
<br>
<p>Год: {{films_id.year}}</p>
<br>
<p>Время: {{films_id.time}}h</p>
<br>
<p>Отзывы: {{films_id.reviews}}</p>
<br>
<b>Страна: {{films_id.country}}</b>
<br>
<p>Жанр: {{films_id.genre}}</p>
    <button><a href="/films/{{films_id.id}}/delete/">Delete</a></button>
    <button><a href="/films/{{films_id.id}}/update/">Update</a></button>
</center>
</body>
{% include 'films/footer.html' %}