{% include 'films/header.html' %}
<body>
<p>Описание: {{films_id.description}}</p>
<br>
<strong>Цена сеанса: {{films_id.price}}</strong>
<br>
<p>Год: {{films_id.year}}</p>
<br>
<p>Время: {{films_id.time}}h</p>
<br>
<p>Отзывы: {{films_id.reviews}}</p>
<br>
<b>Страна: {{films_id.country}}</b>
<br>
<p>Жанр: {{films_id.genre}}</p>
    {% for i in object.comment_object.all %}
            <table border="1" cellpadding="5" cellspacing="5">
                <tr>
                    <td>Оценка фильмов - {{i.Text}}</td>
                    <td>Дата оценка - {{i.Created_at}}</td>
                </tr>
            </table>
            <hr>
            {% endfor %}

    {% for l in object.reviews.all %}
            <table border="1" cellpadding="5" cellspacing="5">
                <tr>
                    <td>Комментария: - {{l.comment}}</td>
                    <td>Оценка: - {{l.rate}}</td>
                    <td>Дата оценки: - {{l.created_date}}</td>
                </tr>
            </table>
            <hr>
            {% endfor %}

    <button><a href="/films/{{films_id.id}}/delete/">Delete</a></button>
    <button><a href="/films/{{films_id.id}}/update/">Update</a></button>
</body>
{% include 'films/footer.html' %}