{% include 'films/header.html' %}
<body>
<p>Описание: {{object.description}}</p>
<br>
<strong>Цена сеанса: {{object.price}}</strong>
<br>
<p>Год: {{object.year}}</p>
<br>
<p>Время: {{object.time}}h</p>
<br>
<p>Отзывы: {{object.reviews}}</p>
<br>
<b>Страна: {{object.country}}</b>
<br>
<p>Жанр: {{object.genre}}</p>
{% for i in object.comment_object.all %}
            <table border="1" cellpadding="5" cellspacing="5">
                <tr>
                    <td>Оценка фильмов - {{i.Text}}</td>
                    <td>Дата оценка - {{i.Created_at}}</td>
                </tr>
            </table>
            <hr>
{% endfor %}

{% for l in object.review.all %}
            <table border="1" cellpadding="5" cellspacing="5">
                <tr>
                    <td>Комментария: - {{l.comment}}</td>
                    <td>Оценка: - {{l.rate}}</td>
                    <td>Дата оценки: - {{l.created_date}}</td>
                </tr>
            </table>
            <hr>
{% endfor %}

    <button><a href="/films_detail/{{object.id}}/delete/">Delete</a></button>
    <button><a href="/films_detail/{{object.id}}/update/">Update</a></button>
</body>
{% include 'films/footer.html' %}